<div class="container-fluid ps-md-0">
  <div class="row g-0">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">Bienvenue !</h3>

              <!-- Formulaire de connexion -->
              <form (ngSubmit)="login()">
                <div class="form-floating mb-3">
                  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                    [(ngModel)]="email" name="email" required />
                  <label for="floatingInput">Adresse Email</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="password" class="form-control" id="floatingPassword" placeholder="Mot de passe"
                    [(ngModel)]="password" name="password" required />
                  <label for="floatingPassword">Mot de passe</label>
                </div>

                <div class="d-grid">
                  <button class="btn btn-lg btn-login text-uppercase fw-bold mb-2" type="submit">
                    Connexion
                  </button>
                  <div class="text-end">
                    <a class="link_signup" routerLink="/register">Créer un compte</a>
                  </div>
                </div>
             
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
